{% extends "base.html" %}
{%- block title %}{{ super() }} - {{ page.title }}{% endblock title %}
{%- block main -%}
<main class="contacts-main">    
    <ul class="contacts-list">
        {% if site.phone -%}
        <li>Phone: <a href="tel:{{ site.phone }}">{{ site.phone }}</a></li>
        {%- endif %}
        {% if site.tg -%}
        <li>Telegram: <a href="https://t.me/{{ site.tg }}">@{{ site.tg }}</a></li>
        {%- endif %}
        {% if site.email -%}
        <li>Email: <a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
        {%- endif %}
    </ul>
    <div class="content">
        {{ page.html_content | safe }}
    </div>
</main>
{%- endblock main -%}
