name: Deploy Site

on:
  push:
    branches: ["main"]

permissions:
  contents: read
  pages: write
  id-token: write

concurrency:
  group: "pages"
  cancel-in-progress: false

jobs:
  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build Site
        uses: cyrillsemenov/garage_sale_gen@main
        with:
          source: '.'
          output: 'public'
        env:
          SITE_PHONE: ${{ secrets.SITE_PHONE }}
          SITE_TG: ${{ secrets.SITE_TG }}
          SITE_EMAIL: ${{ secrets.SITE_EMAIL }}

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v3
        with:
          path: 'public'

      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
